.footer {
    background: #191919;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.footer > span { 
    color: #e6ecf0;
    font-size: 0.8rem;
    font-weight: 300;
}

