.sidenav{
    background-color: #f2f2f2;
    width: 250px;
}

.sidenav a {
    color: #373737;
    font-size: 0.9rem;
    font-weight: 400;
}

.sidenav a:last-child {
    color: #aaa;
    font-size: 0.9rem;
    font-weight: 400;
}

.sidenav i {
    padding-right: 15px;
}

