<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="64"
    fixedBottomGap="64"
    position="end"
  >
    <mat-nav-list class="nav-list">
      <!-- <a mat-list-item><i class="material-icons">input</i>Revisão de Casos</a> -->
      <a mat-list-item><i class="material-icons">dashboard</i>Dashboard</a>
      <a mat-list-item><i class="material-icons">shopping_cart</i>Pedidos</a>
      <a mat-list-item><i class="material-icons">list_alt</i>Produtos</a>
      <a mat-list-item><i class="material-icons">delivery_dining</i>Entregas</a>
      <a mat-list-item><i class="material-icons">settings</i>Configurações</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>

